@font-face {
font-family: 'Western Normal';
font-style: normal;
font-weight: normal;
src: local('Western Normal'), url('../WEST____.woff') format('woff');
}
body {
	font-family: 'Western Normal';
	padding:  2% 20% 2% 20%;
	background-image: url("../img/desert.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	}
h2 {
	border-width: 10px;
	border-radius:10px;
	background-color: #E6E6E8;
	color: #9D9D98;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
h4 {
	text-shadow: 2px 2px 4px black ;
}
span{
	text-shadow: 2px 2px 4px black;
	font-size: 20px;
}
a {
	color: black;
}
ul{
	list-style-type: none;
}

@media screen and (min-device-width : 750px){

	
}
header img{
	width: 100%;
	height: 152px;
}
footer img{
	width: 100%;
}
header{
	height: 152px;
}
section{
	background-image: url("../img/section.png");
	padding: 4px;
	background-size: contain;
	text-align: center;
	align-items: center;
}
#animation img{
	width: 10%;
	border-radius: 50%;
	animation-name: rotate;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
@keyframes rotate{
	from{ 

	}
	to{
		transform: rotate(360deg);
	}
}
